# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Logs
logs/
mylogs/
*.log

# Virtual Environment
venv/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Airflow
airflow.db
airflow.cfg
webserver_config.py
airflow-webserver.pid
standalone_admin_password.txt

# Local data
mydata/

# Docker
.docker/
